<!DOCTYPE html>
<html>
<head>
  <title>PT - HOME</title>
</head>
<body>
<div class="bg-img">
    <div class="col-md-3 col-sm-5"></div>
    <div class="title-border col-md-7 col-xs-12 col-sm-12">
      <div class="scll"><%=image_tag("TemeriaTitle.png", :class => "title")%></div>
    </div>
  <div class="side-bar col-md-2">
    <div class="scll2">
      <ul>
        <li><%= link_to 'Home' , home_path%></li>
        <li><%= link_to 'Profile' , profile_path%></li>
        <li><a href="#contact">Documentation</a></li>
        <li><%= link_to 'About' , about_path%></li>
        <li><%= link_to 'News' , news_path%></li>
        <% if user_devise_signed_in? %>
            <li>
              <%= link_to('Logout', destroy_user_devise_session_path, :method => :delete) %>
            </li>
        <% else %>
            <li>
              <%= link_to('Login', new_user_devise_session_path)  %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="game-container col-md-7">
    <div class="scll-game">

      <div class="row">
        <div class="col-md-12">
          <% if user_devise_signed_in? %>
              <%@myId = current_user_devise.id%>
              <p><%=UserDevise.find(@myId).id%></p>
              <p><%=@myId%></p>
            <%if UserDevise.find(@myId).username ==  "No name yet"%>
                <%= form_tag(addUsername_path(current_user_devise.id)) do %>

                    <%= label_tag 'Username', nil%>
                    <%= text_field_tag 'newUsername', nil, placeholder: 'introduce tu nombre de usuario', :required => true %>

                    <%= submit_tag "Añadir", class: 'btn btn-primary' %>
                <% end %>
            <%end%>

          <%end%>
          <% @users = UserDevise.all %>
          <% @users.each do |user| %>
              <%= user.email %>
              <%= user.username %><br/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
